header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 85px;
    background-color: #ffffff;
    z-index: 9999;
}

.fleks {
    display: flex;
    width: 1340px;
    margin: 0 auto;
    align-items: center;
}

header>img {
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
    width: 50vw;
    height: 40px;
    margin-left: 90px;
}

a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #ffa900;
}

nav li {
    display: inline;
    margin-right: 30px;
    font-size: 17px;
}

nav select {
    border: none;
    outline: none;
    font-size: 17px;
    width: 170px;
    cursor: pointer;
}

nav select:hover {
    color: #ffa900;
}

header label {
    display: flex;
    margin-left: 140px;
}

header input {
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #ffffff;
    font-size: medium;
    background-color: #ffa900
}

header input:hover {
    cursor: pointer;
}